page-cart {
	ion-content {
		background: -webkit-linear-gradient(to right, #4b79a1, #283e51);
		background: linear-gradient(to right, #4b79a1, #283e51);
	}

	.toolbar-background {
		background: #F2994A;
		background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);
		background: linear-gradient(to right, #F2C94C, #F2994A);
	}

}
