<ion-header>
	<ion-navbar>
		<ion-title>
			Cart
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only clear (click)="closeModal()"><ion-icon name="close"></ion-icon>
      		</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-list-header>
			<h2>{{Products.length > 0 ? 'Your Purchase' : 'Cart is empty'}}</h2>
		</ion-list-header>
		<ion-item *ngFor="let product of Products; let i = index">
			<ion-thumbnail item-start>
				<img src="../assets/img/{{product.imgUrl}}">
			</ion-thumbnail>
			<h2>{{product.name}}<p>x5</p></h2>
			<button ion-button clear item-end (click)="deleteProduct(product, i)">Remove</button>
		</ion-item>
		<ion-item *ngIf="Products.length > 0">
			<ion-thumbnail item-start>
				<img src="../assets/img/price.png">
			</ion-thumbnail>
			<h2>Total: ${{price.toFixed(2)}}</h2></ion-item>
	</ion-list>
	<br />
	<ion-list *ngIf="Products.length > 0">
		<ion-list-header>
			<h2>Enter your location</h2>
		</ion-list-header>
		<ion-item>
			<ion-label>Location</ion-label>
			<ion-select [(ngModel)]="user.location">
				<ion-option value="miami">Miami</ion-option>
				<ion-option value="boca-raton">Boca Raton</ion-option>
				<ion-option value="gville">Gainesville</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>
	<br />
	<ion-list *ngIf="Products.length > 0">
		<ion-list-header>
			<h2><span>Enter your name</span></h2>
		</ion-list-header>
		<ion-item>
			<ion-label floating>First Name</ion-label>
			<ion-input type="text" [(ngModel)]="user.firstName"></ion-input>
		</ion-item>
		<ion-item class="last">
			<ion-label floating>Last Name</ion-label>
			<ion-input type="text" [(ngModel)]="user.lastName"></ion-input>
		</ion-item>
		<ion-item></ion-item>
	</ion-list>
	<div *ngIf="Products.length > 0">
		<button ion-button block (click)="placeOrder()">PLACE ORDER</button>
	</div>
</ion-content>
